.login{
  width: 35vw;
  height: auto;
  margin: 0 auto;
  .btn{
    width: 40%;

  }

}
.token-container{
  width: 20vw;
  height: auto;
  margin: 0 auto;
  :last-child{
    margin-left: 1rem;
  }
}
