/* Reset de margen y relleno para todos los elementos */
* {
  margin: 0;
  padding: 0;
}

/* Estilos para el cuerpo de la página */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Estilos para el encabezado */
header {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
}

/* Estilos para los títulos h2 con efectos */
h2 {
  font-size: 7rem;
  position: absolute;
}

/* Estilos específicos para el título con clase "border" */
.border {
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white;
}

/* Estilos específicos para el título con clase "wave" y animación "wave" */
.wave {
  --wave-color-1: #4F386F;
  --wave-color-2: #2ecc71; /* Nuevo color del wave */

  color: var(--wave-color-1);
  animation: wave 3s ease-in-out infinite;
}

/* Animación "wave" */
@keyframes wave {
  0%, 100% {
    color: var(--wave-color-1);
    clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    color: var(--wave-color-2);
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

/* Estilos generales para los botones */
button {
  width: 100px;
  height: 40px;
  background-color: #4F386F;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

/* Animación "lineaCantada" para elementos con clase "linea-cantada" dentro de elementos con clase "fila" */
@keyframes lineaCantada {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Estilos específicos para elementos con clase "linea-cantada" dentro de elementos con clase "fila" */
.linea-cantada {
  animation: lineaCantada 1s ease-in-out;
}

/* Animación "iconoVerde" para elementos con clase "icono-verde" */
@keyframes iconoVerde {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Estilos específicos para elementos con clase "icono-verde" */
.icono-verde {
  animation: iconoVerde 0.5s ease-in-out;
}

/* Estilos para los números en la lista de números */
.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Estilos para los números individuales */
.number {
  font-size: 24px;
  margin: 5px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
}

/* Estilos específicos para los números con clase "bingo" */
.number.bingo {
  background-color: #2ecc71;
}

/* Estilos específicos para elementos con clase "defaultCarton" */
.defaultCarton {
  color: #FFD5E3;
}

/* Estilos específicos para elementos con clase "defaultNum" */
.defaultNum {
  color: #CA50A2;
}

/* Estilos para los títulos h4 */
h4 {
  color: #FFD5E3;
}

/* Estilos específicos para elementos con clase "mensaje" */
.mensaje {
  width: 100vw;
  height: 50px;
  margin-top: 10%;
  text-align: center;
}

/* Estilos específicos para elementos con clase "numeros" */
.numeros {
  margin: 2%;
}

/* Estilos específicos para elementos con clase "carton" */
.carton {
  margin-bottom: 2%;
}

/* Estilos específicos para elementos con clase "botones" */
.botones {
  display: flex;
}
